<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Font -->
    {% load staticfiles%}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    {% endblock css %}
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Header Start -->
    <header id="home">

        <!-- Main Menu Start -->
        <div class="main-menu">
            <div class="navbar-wrapper">
                <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a href="#" class="navbar-brand"><img src="{% static 'img/logo.png' %}" alt="Logo" /></a>
                        </div>

                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#home">Inicio</a></li>
                                <li><a href="#about">Nosotros</a></li>
                                <li><a href="#features">Servicios</a></li>
                                <li><a href="#feature-work">Portfolio</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#pricing">Precios</a></li>
                                <li><a href="#faq">FAQ</a></li>
                                <li><a href="#contact-us">Contacto</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Main Menu End -->

        <!-- Sider Start -->
        <div class="slider">
            <div id="fawesome-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators indicatior2">
                    <li data-target="#fawesome-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#fawesome-carousel" data-slide-to="1"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{% static 'img/slider1.jpg' %}" alt="Sider Big Image">
                        <div class="carousel-caption">
                            <h1 class="wow fadeInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                            <div class="slider-btn wow fadeIn">
                                <a href="#" class="btn btn-learn">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{% static 'img/slider2.jpg' %}" alt="Sider Big Image">
                        <div class="carousel-caption">
                            <h1 class="wow fadeInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                            <div class="slider-btn wow fadeIn">
                                <a href="#" class="btn btn-learn">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sider End -->

    </header>
    <!-- Header End -->

    {% block content %}
    {% endblock %}
    <!-- footer -->

    <footer>
        <div class="container">
            <div class="row">

                <!-- Single Footer -->
                <div class="col-sm-3">
                    <div class="single-footer">
                        <div class="footer-logo">
                            <img src="{% static 'img/footer-logo' %}.png" alt="Footer Logo" />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut .</p>
                        </div>
                    </div>
                </div>
                <!-- Single Footer -->


                <!-- Single Footer -->
                <div class="col-sm-3">
                    <div class="single-footer">
                        <h4>Direccion</h4>
                        <p>Franklin Roosevelt 1560 <br /> +549 (3827) 654181 <br /> info@codear.com <br />                            (01)
                        </p>
                    </div>
                </div>
                <!-- Single Footer -->


                <!-- Single Footer -->
                <div class="col-sm-3">
                    <div class="single-footer">
                        <h4>Suscribirse</h4>
                        <p>Ingrese su email y reciba mensualmente todas las novedades</p>

                        <form action="">
                            <div class="form-group">
                                <input type="email" class="form-control my-form" id="exampleInputEmail1" placeholder="Enter Your Email Address">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-subscribe">Suscribirse</button>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- Single Footer -->

                <!-- Single Footer -->
                <div class="col-sm-3">
                    <div class="single-footer">
                        <h4>Recent Projects</h4>
                        <ul class="projects">
                            <li><img src="{% static 'img/project.png' %}" alt="Reccent Project" /></li>
                            <li><img src="{% static 'img/project.png' %}" alt="Reccent Project" /></li>
                            <li><img src="{% static 'img/project.png' %}" alt="Reccent Project" /></li>
                            <li><img src="{% static 'img/project.png' %}" alt="Reccent Project" /></li>
                            <li><img src="{% static 'img/project.png' %}" alt="Reccent Project" /></li>
                            <li><img src="{% static 'img/project.png' %}" alt="Reccent Project" /></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer -->

            </div>
        </div>

    </footer>

    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="copy-text">
                        <p>Todos los derechos reservados | Copyright 2019 ©</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Precios</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->




    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
    <script src="{% static 'js/paralax.js' %}"></script>
    <script src="{% static 'js/jquery.smooth-scroll.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('a[href^="#"]').on('click', function (e) {
                e.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top
                }, 900, 'swing');
            });
        });
    </script>

    <script src="js/custom.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
    </script>
</body>

</html>